<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.discord.wanbot</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>cd '/Users/pratyushsharma/Desktop/WAN bot' &amp;&amp; source venv/bin/activate &amp;&amp; export SSL_CERT_FILE=$(python -c "import certifi; print(certifi.where())") &amp;&amp; export REQUESTS_CA_BUNDLE=$(python -c "import certifi; print(certifi.where())") &amp;&amp; python bot.py</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/pratyushsharma/Desktop/WAN bot/bot.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/pratyushsharma/Desktop/WAN bot/bot_error.log</string>
    
    <key>WorkingDirectory</key>
    <string>/Users/pratyushsharma/Desktop/WAN bot</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
